<!--ユーザーの詳細-->
<div>
  <!--ユーザーの名前-->
  <h3><%= @user.name %></h3>
  <!--ユーザーの画像-->
  <%= image_tag @user.get_profile_image(100,100) %>

  <!--ログインしているユーザーに本人のみ編集リンクを表示-->
  <% if @user == current_user %>
   <!--詳細画面から編集ページへのリンク-->
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

</div>


<!--ユーザーの投稿一覧を表示-->   <!--部分テンプレートファイルへまとめた-->

<!--部分テンプレートファイルの呼び出し-->
<!-- render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] -->
<%= render 'post_images/list', post_images: @post_images %>
<!--テンプレートパスの記述は、アンダースコアは省略、拡張子も省略できる。同フォルダ内から呼び出す場合フォルダ名も省略可能。-->